body,
h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: "Raleway", sans-serif
}

body,
html {
  height: 100%;
  line-height: 1.8;
}

/* Full height image header */
.bgimg-1 {
  background-position: center;
  background-size: cover;
  background-image: url("../static/img/cover-page.jpg");
  min-height: 100%;
}

.w3-bar .w3-button {
  padding: 16px;
}
#myBtn {
  display: none;
  position: fixed;
  bottom: 20px;
  right: 30px;
  z-index: 99;
  font-size: 5vw;
  border: none;
  outline: none;
  background: linear-gradient(to right, #0066ff 0%, #9999ff 100%);
  color: white;
  cursor: pointer;
  padding: 5px;
  border-radius: 100px;
}
#myBtn:hover{
  /* background-color: rgb(72, 114, 177) */
  background: linear-gradient(to left, #0066ff 0%, #9999ff 100%);

}